---
import NetlifyIdentity from './NetlifyIdentity.svelte'

const currentYear = new Date().getFullYear()
---

<footer>
  <p>&copy; 2022-{currentYear} | <a href="https://nutrimed.ng">Nutrimed Foods Nigeria</a></p>
  <NetlifyIdentity />
</footer>