---
import { DarkMode, SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon'
import MagicText from '../components/MagicText.astro'
---

<header>
  <SkipLinks />
  <div >
    <DarkMode />
    <a href="/">
      <MagicText>Nutrimed Foods</MagicText>
    </a>

  </div>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/breakpoint' as *;

  header .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include breakpoint(medium) {
      flex-wrap: nowrap;
    }

    img {
      max-height: 40px;
    }

    button {
      padding: 0;
      border: 0;
    }

    [astro-icon] {
      width: 30px;
    }

    .user-menu {
      display: flex;
      gap: 1rem;

      a {
        display: flex;
        align-items: center;
      }
    }

    a,
    button {
      transition: color 0.15s ease-in-out;

      &:where(:hover, :focus-within) {
        color: var(--secondary-300);
      }
    }
  }
</style>
